If and Nested If-Else Statements

1. Grade Evaluator

In [2]:
marks = int(input("Enter the marks of the students"))

def calculate_grade(marks):
    if marks >= 90:
        return "A"
    elif marks >= 80:
        return "B"
    elif marks >= 70:
        return "C"
    else:
        return "F"

grade = calculate_grade(marks)
print(f"Grade:{grade}")

Enter the marks of the students 56

Grade:F

2. leap year checker

In [1]:
year = int(input("Enter the year to check if it is leap or not"))

if year%4==0:
    print("Ït is leap year")
else:
    print("It is not leap year")

Enter the year to check if it is leap or not 2025

It is not leap year

3. Largrst of three numbers

In [4]:
num1 = float(input("Enter the first number"))
num2 = float(input("Enter the second number"))
num3 = float(input("Enter the third number"))

if num1>=num2:
    if num1>=num3:
        print(f"{num1} is largest number")
    else:
        print(f"{num3} is largest number")
else:
    if num2>=num3:
         print(f"{num2} is largest number")
    else:
         print(f"{num3} is largest number")

Enter the first number 67
Enter the second number 98
Enter the third number 0

98.0 is largest number

4. Traffic light simulator

In [11]:
color=input("Enter the color red ,yellow or green").lower()

if color=="red":
    print("stop")
elif  color=="yellow":
    print("wait")
elif  color=="green":
    print("Go")
else:
    print("Invalid color, plz enter the valid color among the given colors")

Enter the color red ,yellow or green green

Go

5. Simple calculator with conditions

In [14]:
num1 = float(input("Enter the first number:"))
operator = input("Enter operator: (+,-,*,/)")
num2 = float(input("Enter the second number:"))

if operator=="+":
    print(f"Result = {num1+num2}")
elif operator=="-":
    print(f"Result = {num1-num2}")
elif operator=="*":
    print(f"Result = {num1*num2}")
elif operator=="/":
    if num2!=0:
       print(f"Result = {num1/num2}")
    else:
        print("Error due to division by zero")
else:
    print("Invalid operator, plz enter the valid operator")

Enter the first number: 56
Enter operator: (+,-,*,/) +
Enter the second number: 44

Result = 100.0

Loops (for, while)

1. Sum of first N numbers

In [5]:
n = int(input("Enter the number"))
sum = 0

for i in range(1,n+1):
    sum=sum+i
print(f"sum of first {n} natural numbers:{sum}")

Enter the number 5

sum of first 5 natural numbers:15

2. Factorial finder

In [8]:
num = int(input("Enter the number"))
fact = 1
i = 1

while i<=num:
    fact = fact*i
    i = i+1
print(f"Factorial of {num}:{fact}")

Enter the number 5

Factorial of 5:120

3. Multiplication table generator

In [16]:
num = int(input("Enter the number"))
for i in range(1,11):
    print(f"{num}x{i}={num*i}")

Enter the number 8

8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
8x10=80

4. Fibonnacci Series

In [10]:
n = int(input("Enter the number:"))
first = 0
second = 1

for i in range(0,n):
    print(first)
    sum=first+second
    first=second
    second=sum

Enter the number: 6

0
1
1
2
3
5

5. Prime number between 1 to N

In [17]:
n = int(input("Enter the n prime number:"))

for i in range(2,n+1):
    is_prime=True
    for j in range(2,i):
        if(i%j==0):
            is_prime=False
        if is_prime:
            print(i)

Enter the n prime number: 5

3
5
5
5

Built-in Functions

1.List Stats

In [4]:
import statistics
numbers=[44,54,76,24,46,28,16,29]
print("max",max(numbers))
print("min",min(numbers))
print("sum",sum(numbers))
print("Average",statistics.mean(numbers))

max 76
min 16
sum 317
Average 39.625

2. String Case counter

In [1]:
letter = input("Enter the String:")
print()
upperCount = 0
lowerCount = 0
for char in letter:
    if char .isupper():
        upperCount=upperCount+1
    elif char .islower():
        lowerCount=lowerCount+1
print("Upper count", upperCount)
print("Lower count", lowerCount)

Enter the String: This is Python Programming Tutorial For Begginers

Upper count 6
Lower count 37

3. Sorted even numbers

In [33]:
numbers = [23,65,87,45,77,66,98,44,48,29,16]
even_numbers=sorted([num for num in numbers if num%2==0],reverse=True)
print("Even numbers in descending order:",even_numbers)

Even numbers in descending order: [98, 66, 48, 44, 16]

4. Custom Round-off

In [34]:
num = float(input("Enter the float number:"))
rounded_num=round(num,2)

print("Rounded number:",rounded_num)

Enter the float number: 22.5439653

Rounded number: 22.54

5. ASCII value finder

In [38]:
char = input("Ënter the character:")
if len(char)==1:
    ascii_value=ord(char)
    print(f"ASCII value of {char}:{ascii_value}")
else:
    print("please enter the single character")

Ënter the character: g

ASCII value of g:103

Strings and String operations

1. Palindrome checker

In [7]:
s = input("Enter the string to check if it is palindrome or not")
if (s==s[::-1]):
    print(f"{s} is palindrome.")
else:
    print(f"{s} is not a palindrome")

Enter the string to check if it is palindrome or not uhhu

uhhu is palindrome.

2. Word frequency counter

In [8]:
string = "python is most important programming language used by programmers."

print("p:", string.count("p"))
print("m:", string.count("m"))
print("n:", string.count("n"))
print("a:", string.count("a"))

p: 4
m: 6
n: 4
a: 5

3. Vowel and Consonent Counter

In [10]:
string=input("Ënter the string:")

vowels = "aeiou"
vowels_count=0
consonent_count=0

for char in string:
    if char .isalpha():
        if char in vowels:
            vowels_count=vowels_count+1
        else:
            consonent_count=consonent_count+1
print("Vowels ",vowels_count)
print("Consonent ",consonent_count)

Ënter the string: hello hoew are you

Vowels  8
Consonent  7

4. Remove punctuations

In [13]:
string = input("Enter the sentence:")
print(string.replace(":",""))

Enter the sentence: hay how are you:

hay how are you

5. longest Word finder

In [1]:
string = input("Enter the sentence")
words = string.split()
largest = max(words , key=len)
print(largest)

Enter the sentence hey how are you

hey

Python lists

1. List reverser

In [7]:
l = [1,2,3,4,5,6,7,8,9]
lenth=len(l)-1
for i in range(lenth,-1,-1):
    print(l[i])

9
8
7
6
5
4
3
2
1

2. Duplicate remover

In [8]:
l = [2,3,4,2,6,5,3,8,7,6,6]
l2 = []
for i in l:
    if i not in l2:
        l2.append(i)
print(l2)

[2, 3, 4, 6, 5, 8, 7]

3. Second largest element

In [9]:
l = [65,87,45,98,76,93,78]
l.sort()
print(l[-2])

93

4. List element frequency

In [24]:
my_list = [1,3,3,4,4,6,5,7,6,8,9,7]
freq_dict = {}

for elem in my_list:
    if elem in freq_dict:
        freq_dict[elem]+=1
    else:
        freq_dict[elem]=1

for elem, freq in freq_dict.items():
    print(f"{elem} : {freq}")

1 : 1
3 : 2
4 : 2
6 : 2
5 : 1
7 : 2
8 : 1
9 : 1

5. Merge and sort lists

In [31]:
l1 = [2,3,6,7,4,8,7]
l2 = [3,5,6,2,8,9,3]
mergeList=l1+l2
del list
newlist = list(set(mergeList))
for i in range(len(newlist)):
    for j in range(i+1,len(newlist)):
        if newlist[i]>newlist[j]:
            newlist[i],newlist[j]=newlist[j],newlist[i]

print(newlist)

[2, 3, 4, 5, 6, 7, 8, 9]

Python tuples

1. Tuple swapper

In [10]:
a = (3,5,4,7)
b = (2,6,8,9)
a,b=b,a
print("a =", a)
print("b =", b)

a = (2, 6, 8, 9)
b = (3, 5, 4, 7)

2. Tuple reverser

In [11]:
l = [2,4,6,8,9]
print(l[::-1])

[9, 8, 6, 4, 2]

3. Tuple to string

In [13]:
T = ('P','r','o','g','r','a','m','e')
single=''.join(T)
print(single)

Programe

4. Element to index finder

In [16]:
T = ("ali","hammad",6,7,8,9)
print(T)
index = int(input("Enter the index of value in tuple :"))
print(T[index])

('ali', 'hammad', 6, 7, 8, 9)

Enter the index of value in tuple : 3

7

5. Immutable test

In [17]:
T = (5,7,9,6,3)
T[0]=67
print(T)

TypeError: 'tuple' object does not support item assignment

Python sets

1. Set union and intersection

In [29]:
S1 = {2,4,6,8}
S2 = {1,3,5,7,9}

print("Union", S1.union(S2))
print("intersection", S1.intersection(S2))

Union {1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection set()

2. Unique element from list

In [22]:
l = [1,2,3,4,6,5,7,8,9,1,2,6]
set1 = set(l)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

3. Subset and Superset check

In [24]:
S1 = {1,2,5,6}
S2 = {2,6}
print(S2.issubset(S1))
print(S1.issuperset(S2))

True
True

4. Common elements finder

In [25]:
l1 = [2,3,5,7,8,6]
l2 = [1,6,9,0,5,7]
set1 = set(l1)
set2 = set(l2)

common = set1.intersection(set2)
print(common)

{5, 6, 7}

5. Symmetric difference demo

In [26]:
S1 = {2,4,6,8,9}
S2 ={1,3,5,9,7}
print("Symmetric difference:", S2.symmetric_difference(S1))

Symmetric difference: {1, 2, 3, 4, 5, 6, 7, 8}

Python dictionary

1. Student gradebook

In [9]:
D = {
    "ali khan": 58,
    "sudais khan": 69,
    "kamal shah": 78,
}
print(D.keys())
print(D.values())

name = input("Enter the name of the student:")
if name in D:
    print(f"{name} grade is : {D[name]}")
else:
    print("student not found")

dict_keys(['ali khan', 'sudais khan', 'kamal shah'])
dict_values([58, 69, 78])

Enter the name of the student: kamran

student not found

2. Word counter

In [16]:
word_count = {}
para = "This is sample paragraph one.This is paragraph two."

words = para.lower().split()
print(words)
print()

for word in words:
    word_count[word]=word_count.get(word,0)+1
print(word_count)

['this', 'is', 'sample', 'paragraph', 'one.this', 'is', 'paragraph', 'two.']

{'this': 1, 'is': 2, 'sample': 1, 'paragraph': 2, 'one.this': 1, 'two.': 1}

3. Frequency of character

In [18]:
string = input("Enter the string: ")
char={}

for word in string:
    char[word]=char.get(word,0)+1
print("character frequency :", char)

Enter the string:  This is Python Programming Tutorial For Begginers

character frequency : {'T': 2, 'h': 2, 'i': 5, 's': 3, ' ': 6, 'P': 2, 'y': 1, 't': 2, 'o': 4, 'n': 3, 'r': 5, 'g': 4, 'a': 2, 'm': 2, 'u': 1, 'l': 1, 'F': 1, 'B': 1, 'e': 2}

4. Key with max value

In [19]:
product={
    "smart watch" : 2200,
    "Laptop" : 15000,
    "Tablet" : 8000
}
max_product=max(product,key=product.get)
print(product[max_product])

15000

5. Merge dictionaries

In [21]:
D1={
   "Apple":500,
    "Banana":300,
    "Grapes":400
}
D2={
    "Digital watch":2200,
    "laptop":21000,
    "speakers":800       
}
merged=D1.copy()
for key, value in D2.items():
    if key in merged:
        merged[key]+=1
    else:
        merged[key]=value
print(merged)

{'Apple': 500, 'Banana': 300, 'Grapes': 400, 'Digital watch': 2200, 'laptop': 21000, 'speakers': 800}