In [1]:
# 1. print a simple message

print("Hello, World!")

Hello, World!

In [2]:
# 2. print multiple items in one statement

print("Name: Muhammad Haris, Age: 22, City: Nowshera")

Name: Muhammad Haris, Age: 22, City: Nowshera

In [8]:
# 3.print using escape character

print("Welcome to python!",end="")
print("Let's Learn coding")
print("Welcome to python!",end="\n")
print("Let's Learn coding")

Welcome to python!Let's Learn coding
Welcome to python!
Let's Learn coding

In [12]:
# 4. print quotes inside a string

print("He said, \"Python is Amazing!\"")
# other method
print('He said, "python is Amazing"')

He said, "Python is Amazing!"
He said, "python is Amazing"

In [15]:
# 5. print a pattern using stars

rows = int(input('Enter the number of rows you want to display'))

for i in range(1,rows + 1):
    for j in range(0, i):
        print("*", end = " ")
    print("")

Enter the number of rows you want to display 5

*
* *
* * *
* * * *
* * * * *

In [21]:
# intermediate Output Execise
# 6. formatted string output using f-string

name = input("Enter your full name")
age = int(input("Enter your Age"))
print(f"Hello, my name is {name} and I am {age} years old")

Enter your full name muhammad haris
Enter your Age 22

Hello, my name is muhammad haris and I am 22 years old

In [22]:
# 7. print a table

number = int(input("Enter the number you want to display the table"))

i = 1
while i<11:
    print(number, "*", i, "=", number*i )
    i += 1

Enter the number you want to display the table 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [32]:
# 8. align text with padding
print(f"{'Banana':<10}",end = " ")
print(f"{'Apple':<10}",end = " ")
print(f"{'Mango':<10}",end = " ")

Banana     Apple      Mango

In [33]:
# 9. output the result of simple calculation

print(5 + 7)

12

In [42]:
# 10. print a formatted receipt

items = {
    "Apple": 200,
    "Banana": 150,
    "Orange":100,
}
quantities = {
    "Apple": 5,
    "Banana": 12,
    "Orange": 6,
}
total = sum(items[item] * quantities[item]for item in items )
print("Store Receipt:")
print("_________")

for item, price in items.items():
    quantity = quantities[item]
    subtotal = price * quantity
    print(f"{item}: {quantity} x {price:.2f} = {subtotal:.2f}")
    print("__________")
    print(f"Total: {total:.2f}")

Store Receipt:
_________
Apple: 5 x 200.00 = 1000.00
__________
Total: 3400.00
Banana: 12 x 150.00 = 1800.00
__________
Total: 3400.00
Orange: 6 x 100.00 = 600.00
__________
Total: 3400.00

In [77]:
# Basic keywords 
print("if, else, for, while, def, class, impot, is, in, return")

if, else, for, while, def, class, impot, is, in, return

In [76]:
print("if,else,elif")

if,else,elif

In [75]:
print("for,while,break,continue")

for,while,break,continue

In [74]:
print("true,false,and,or,not,is")

true,false,and,or,not,is

In [79]:
keywords = ['class','def','try','for','else']
keywords.sort()
for keyword in keywords:
    print (keyword)

class
def
else
for
try

In [3]:
#print the keywords that represent the constant value
print("True , False , None")

True , False , None

In [5]:
print("break, continue, pass")

break, continue, pass

In [7]:
print(f"The keyword {'if'} is used to check conditions")

The keyword if is used to check conditions

In [11]:
print("keyword      | Use")
print("_ _ _ _ _ _ _| _ __ _ _ _ _ _ _ _ _ _ _ _ _ _")

print("if           | Conditional check")

print("while        | Loop")

print("break        | Exit Loop")

keyword      | Use
_ _ _ _ _ _ _| _ __ _ _ _ _ _ _ _ _ _ _ _ _ _
if           | Conditional check
while        | Loop
break        | Exit Loop

In [12]:
keywords = ['class','def','try','for','else']
for keyword in keywords:
    print(keyword.upper())

CLASS
DEF
TRY
FOR
ELSE

In [14]:
keywords = ["if, else, for, while, def, class, impot, is, in, return"]
for i, keyword in enumerate(keywords,start = 1):
    print(f"{i}.{keyword}")

1.if, else, for, while, def, class, impot, is, in, return

In [15]:
print("if, is, else, class, def, for, while")

if, is, else, class, def, for, while

In [18]:
print(f"python uses {'if'},{'else'} and {'for'} to control the flow of code")

python uses if,else and for to control the flow of code

In [22]:
conditional_keywords = ["if", "else"]
looping_keywords = ["for", "while", "break"]
boolean_keywords = ["True", "False", "None"]

print("conditional:")
for keyword in conditional_keywords:
    print(f" {keyword}")
print("\nlooping:")
for keyword in looping_keywords:
    print(f" {keyword}")
print("\nboolean:")
for keyword in boolean_keywords:
    print(f" {keyword}")

conditional:
 if
 else

looping:
 for
 while
 break

boolean:
 True
 False
 None

In [28]:
print("""We can't use Python keywords as variable name because they have special meaning in Python programming.
Using keywords as variable name cause confusion for the Python intrepreter.""")

We can't use Python keywords as variable name because they have special meaning in Python programming.
Using keywords as variable name cause confusion for the Python intrepreter.

In [31]:
name = input("Enter your Full Name:")
print(f"Hello, {name}!")

Enter your Full Name: haris

Hello, haris!

In [32]:
num1 = int(input("Enter the first number"))
num2 = int(input("Enter the second number"))
sum = num1 + num2
print(sum)

Enter the first number 23
Enter the second number 7

30

In [43]:
favorite_color = input("Enter your favorite color?")
print("Your favorite color is:",favorite_color)

Enter your favorite color? blue

Your favorite color is: blue

In [44]:
age = int(input("Enter your age"))
print(f"Your are {age} years old")

Enter your age 22

Your are 22 years old

In [45]:
city = input("Enter the name of your city")
country = input("Enter the name of your country")
print(f"You live in {city},{country}.")

Enter the name of your city nowshera
Enter the name of your country pakistan

You live in nowshera,pakistan.

In [46]:
num1 = int(input("Enter the first number"))
num2 = int(input("Enter the second number"))
difference = num1 - num2
print(difference)

Enter the first number 12
Enter the second number 5

7

In [47]:
word = input("Enter the word")
print(word.upper())

Enter the word haris

HARIS

In [48]:
sentence = input("Enter the sentence:")
print("The sentence has", len(sentence),"characters.")

Enter the sentence: my name is muhammad haris

The sentence has 25 characters.

In [49]:
school = input("Enter the name of your school:")
print(f"I study at {school}.")

Enter the name of your school: GPGC nowshera

I study at GPGC nowshera.

In [51]:
first_name = input("Enter your first name")
last_name = input("Enter your last name")
print(f"Your full name is {first_name} {last_name}")

Enter your first name haris
Enter your last name khan

Your full name is haris khan

In [52]:
current_age = int(input("Enter your current age:"))
future_age = current_age + 5
print(f"Your age after 5 years is {future_age}")

Enter your current age: 22

Your age after 5 years is 27

In [53]:
num1 = int(input("Enter the first number"))
num2 = int(input("Enter the second number"))
product = num1 * num2
print(product)

Enter the first number 23
Enter the second number 2

46

In [54]:
name = input("Enter your name")
hobby = input("Enter your hobby")
print(f"{name} likes {hobby}")

Enter your name haris
Enter your hobby cricket

haris likes cricket

In [63]:
string_num = "10"
int_num = int(string_num)
result = int_num + 5
print(int_num)

10

In [65]:
string_num = 7.9
float_num = float(string_num)
print(float_num)
type(float_num)

7.9

float

In [75]:
num = 5
str_num = str(num)
print("The number is " + str_num)

The number is 5

In [76]:
float_num = 6.7
int_num = int(float_num)
print(int_num)

6

In [77]:
int_num = 1
bool_num = bool(int_num)
print(bool_num)

True

In [78]:
print(bool("False"))

True

In [81]:
str_num = input("Enter the number:")
int_num = int(str_num)
result = int_num * 2
print(f"The result is {result}")

Enter the number: 24

The result is 48

In [5]:
float_num = float(input("Enter the number:"))
type(float_num )
int_num = int(float_num)
print(f"The origional number is {float_num}")
print(f"The converted number is {int_num}")

Enter the number: 4.6

The origional number is 4.6
The converted number is 4

In [7]:
num = int(input("Enter the number:"))
str_num = str(num)
type(str_num)

Enter the number: 45

str

In [8]:
num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))
sum = num1 + num2
print(sum)

Enter the first number: 42
Enter the second number: 8

50

In [18]:
num_str = input("Enter the number:")
num_float= float(num_str)
num_int= int(num_float)
print("Float: ",num_float)
print("Int: ",num_int)

Enter the number: 34.7

Float:  34.7
Int:  34

In [20]:
#convert a string lke "123abc"to an integer. what error do you get
num_str = "123abc"
num_int = int(num_str)
#invalid literal for int() with base 10: '123abc'

ValueError: invalid literal for int() with base 10: '123abc'

In [23]:
num_str = input("Enter a string:")
if num_str.isnumeric():
    num_int = int(num_str)
    print("The string is numeric. Converted to int:",num_int)
else:
    print("The string is numeric.")

Enter the string: 6

The string is numeric. Converted to int: 6

In [30]:
num_float = float(input("Enter the number:"))
num_int = int(num_float)
num_str = str(num_int)
print(num_int)
print(num_str)
type(num_int)
type(num_str)

Enter the number: 9.99

9
9

str

In [10]:
print("learning Python is fun")

learning Python is fun

In [11]:
int_literal = 10
float_literal = 3.14
print("integer literal:",int_literal)
print("float_literal:",float_literal)

integer literal: 10
float_literal: 3.14

In [12]:
print("string literals using double quotes")
print('string literals using single quotes')

string literals using double quotes
string literals using single quotes

In [14]:
a = True + 4
b = False + 6
print("a :",a)
print("b :", b)

a : 5
b : 6

In [19]:
var = None
print(var)

None

In [18]:
print(type("Hello"))
print(type(10))
print(type(3.5))
print(type(True))
print(type(None))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [20]:
print("Python's simplicity is powerfull")

Python's simplicity is powerfull

In [22]:
str1 = "Hello,"
str2 = "World"
result = str1 + str2
print(result)

Hello,World

In [25]:
list=["haris",24,True,7.5]
print(list)

['haris', 24, True, 7.5]

In [26]:
print("""python is easy programming language.
everyone can easily python for their use.
I like python as an AI learmner""")

python is easy programming language.
everyone can easily python for their use.
I like python as an AI learmner

In [28]:
print("None==0") and print("None==False")
#None represent the absense of the value, where as 0 is an integer value and False is boolean value
#In python None is not equal to any other value includuing 0 and False

None==0